body {
    background-color: thistle;
}
* {
    box-sizing: border-box;
}
ul.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color:hotpink;
    
}
nav > ul.menu{
    display: flex;
}
ul.menu > li{
    max-width: 200px;
}
ul.menu > li > a{
    text-decoration: none;
    display: block;
    padding: 20px;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
ul.menu > li > a:hover{
    background-color: rgb(127, 177, 253);
    color: rgb(170, 243, 221);
}
ul.menu > li:last-child{
    margin-left: auto;
}
div.cover {
    width: 30%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
div.cover img{
    width: 100%;
}
div.cover a{
    width: 7%;
}
a#go-to-top{
    display:block;
    text-align: center;
    width: 5%;
    position: fixed;
    bottom:5%;
    right: 2.5%;
    text-decoration: none;
    padding:2px;
}
a#go-to-top img {
    width: 100%;
}
.subcontent{
    display: none;
}
.sub:hover .subcontent{
    display: block;
    position: absolute;
}
div.item {
    width: 100%;
}
div.item img {
    width: 100%;
}
div.item > img {
    width: 50%;
}
div.thumb div {
    width: 25%;
}
div.thumb {
    display: flex;
    flex-wrap: wrap;
}
#mainImg {
    border: 20px solid cadetblue;
    border-radius: 20px;
    margin: 1px auto;
}
.subImg {
    border: 10px solid cadetblue;
    border-radius: 20px;
    margin: 1px 1px;
}