body {
    background-color: thistle;
}
header {
    background-color: rgb(64, 224, 117);
}
* {
    box-sizing: border-box;
}
ul.Chude {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
div.item {
    width: 100%;
    margin: 0.5%;
    background-color: rgb(255, 201, 183);
    border: 10px solid rgb(66, 2, 94);
    border-radius: 20px;
    padding: 5px;
}
div.item img{
    width: 100%;
    transition: ease-in-out 1s;
}
div.item > div {
    overflow: hidden;
}
div.item img:hover{
    transform: scale(1.1);
}
ul.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color:hotpink;
    
}
nav > ul.menu{
    display: flex;
}
ul.menu > li{
    max-width: 200px;
}
ul.menu > li > a{
    text-decoration: none;
    display: block;
    padding: 20px;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 30px;
}
ul.menu > li > a:hover{
    background-color: rgb(127, 177, 253);
    color: rgb(170, 243, 221);
}
ul.menu > li:last-child{
    margin-left: auto;
}
div.cover {
    width: 30%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
div.cover img{
    width: 100%;
}
ul.Chude li {
    width: 39%;
    margin: 0.5%;
}
a.page {
    width: 39%;
    margin: 0.5%;
}
div.cover a{
    width: 7%;
}
a#go-to-top{
    display:block;
    text-align: center;
    width: 5%;
    position: fixed;
    bottom:5%;
    right: 2.5%;
    text-decoration: none;
    padding:2px;
}
a#go-to-top img {
    width: 100%;
}
.subcontent{
    display: none;
}
.sub:hover .subcontent{
    display: block;
    position: absolute;
}
footer{
    background-color: darkseagreen;
}
footer{
    margin-top:2%;
    background-color: rgb(64, 224, 117);
    width: 100%;
    display: flex;
    padding: 2%;
}
footer  .container {
    width: 50%;
}
footer  .container .noi-dung.about{
    width:100%;
}
footer .container .noi-dung.about h2{
    position: relative;
    color: #fff;
    margin-bottom: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; 
    font-size:30px;
    text-align: center;
    margin-bottom: 5%;
}
footer .container .noi-dung.about h3{
    color: #000000;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    padding: 1%;
}
footer h2{
    color:#FFFFFF;
    font-size:30px;
}
div#lienhe{
    width: 50%;
    
}
div#lienhe h2{
    text-align: center;
    margin-bottom: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
div#lienhe h3{
    color: #000000;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    padding: 1%;
}
div#lienhe a{
    text-decoration: none;
    color: #000000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
div#lienhe a:hover{
    color:rgb(170, 243, 221);
}
div.followicons{
    margin-top: 2%;
    display: flex;
    /*justify-content: center;*/
}
a.followicon{
    font-size: 35px;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration:none;
    color: #000000;
    margin: 2%;
}
input{
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 10px;

}
input[type=text]{
    width: 20%;
    font-size: 13px;
    margin-left: 70%  
}
div.canhs {
    display: flex ;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
div.canh {
    border: 3px solid black;
    border-radius: 15px 15px 15px 15px;
    margin: auto;
    font-size: 35px;
    text-align: center;
    background-color: lightblue;
    width: 80%;

}    
div.canh img {
    width: 80%;
    height: 550px;
    margin-top: 30px;
  }
h5.loidan{
    font-size: 25px;
    width: auto;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
}
  
div.canh2 img {
    width: 100%;
    height: 350px;
    border-radius:15px 15px 0 0;

}

div.canh2 {
    width: 40%;
    border: 3px solid  black ;
    border-radius:15px 15px 15px 15px;
    margin: 2%;
    font-size: 25px; 
    text-align: center;
    background-color: lightblue;
}
.canh2.them {
    margin-top: -15%;
}
h5.loidan1 {
    position: absolute;
    right: 3%;
    width: 47%;
    border: 3px solid purple;
    padding: 10px;
    font-size: 25px;
    margin: 0px;
    margin-bottom: 31%;

}
.canh2.them1{
    margin-top:20%;
    right: auto;
}
.canh2.them {
    margin-top: -15%;
}
h5.loidan2 {
    right: 3%;
    width: 47%;
    border: 3px solid purple;
    padding: 10px;
    font-size: 21px;
    margin: 0px;
    margin-right: 46%;
    margin-top: -21%;
}
div.Canh1 {
    border: 3px solid black;
    border-radius: 15px 15px 15px 15px;
    margin: auto;
    font-size: 35px;
    text-align: center;
    background-color: lightblue;
    width: 80%;

}    
div.Canh1 img {
    width: 80%;
    height: 550px;
    margin-top: 30px;
}
/*@media screen and (max-width: 600px) {
    a#go-to-top {
        width: 10%;
    }
    footer{
        
        width: 100%;
        display: block;
    }
    footer  .container {
        width: 100%;
    }
    div#lienhe{
        width: 100%;
    }
}*/